# GNU General Public License <https://www.gnu.org/licenses>
# Add the correct Adafruit key, user, and password and save this file as 'config.py'
# Adafruit parameters
X_AIO_KEY = "aio_XYZZYasdflkjasdasdfasdff"                            # Maker key
USER = "gumakerhub"                                                   # Maker user

# MQTT
MQTT_SERVER = "io.adafruit.com"
MQTT_USER = "gumaker"
MQTT_PASSWD = X_AIO_KEY
MQTT_SUB_TOPIC = "gumakerhub/feeds/makerhubevents.backdoorbell"

# Enable Debugging Statements
DEBUG = True
