[Unit]
Description=subscribe to MQTT services
After=network.target
Requires=runlevel5.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=volumio
ExecStart=/usr/bin/python3 /home/volumio/db/mqtt-listen.py

[Install]
WantedBy=multi-user.target
